<div class="card h-100">
  <div class="bg-light"><img height="175" style="margin-top: 25px; padding-bottom: 25px" class="card-img-top bg-light" src="../../../assets/cloud-computing.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">3rd-Party APIs</h4>
    <ul class="card-text">
      <li>Google (Plus, Adwords)</li>
      <li>Microsoft (Outlook, Bing Ads)</li>
      <li>Yahoo Gemini</li>
      <li>Amazon S3</li>
      <li>Intuit Quickbooks</li>
      <li>Facebook</li>
    </ul>
  </div>
</div>
