<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top bg-light experience-img" src="../../../assets/cloud-computing.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">3rd-Party APIs</h4>
    <p class="card-text">
      After working with so many APIs, they eventually all become pretty similar. From ad platforms like <a href="https://developers.google.com/adwords">Google Adwords</a>, to banking transactions on mainframes like <a href="https://developers.tsys.com">TSYS</a>. 3rd-party APIs often shed a new light on a project, and cut down on development time.
    </p>
  </div>
</div>
