<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top bg-light experience-img" src="../../../assets/cloud-computing.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">3rd-Party APIs</h4>
    <p class="card-text">
      I have real-world experience working with a number of APIs, including reporting and updating ads with <strong>Google Adwords</strong>, <strong>Bing Ads</strong>, <strong>Yahoo Gemini</strong>, and <strong>YellowPages</strong>; in-application utilization of <strong>Amazon's Web Services</strong>; and managing financial accounts and invoicing with <strong>Intuit's Quickbooks</strong>.
    </p>
  </div>
</div>
