<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top bg-light experience-img" src="../../../assets/database.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">Large Data</h4>
    <p class="card-text">
      <em>As data grows, so too shall the system complexity</em> -- No, wait a minute, that doesn't sound right! Instead, by ensuring data handling is <strong>streamlined and scalable</strong> throughout the applications Adam has worked with, he's enabled <strong>growth of data</strong> with <strong>minor effects to system complexity.</strong>
    </p>
  </div>
</div>
