<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top bg-light capabilities-img" src="../../../assets/racing.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">Performance</h4>
    <p class="card-text">
      Adam ensures his understanding of the <strong>technology stack</strong>, <strong>time-complexity</strong>, and <strong>common optimal solutions</strong> benefits every project he works on, but becomes necessary when developing for environments that require low-cost computations.
    </p>
  </div>
</div>
