<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top bg-light capabilities-img" src="../../../assets/racing.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">Performance</h4>
    <p class="card-text">
      <strong>Writing clean code that runs blazingly fast is as much an art as it is a science.</strong> Whether processing banking transactions, or trying to answer a customer's question over voice, I have ample experience optimizing systems for our fast-paced world.
    </p>
  </div>
</div>
