body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.container-fluid.py-5.experience-container {
  background-blend-mode: darken;
  background-size: cover !important;
  background: url('https://adambates-public.s3.ca-central-1.amazonaws.com/background.jpeg') bottom;
}
