.summary-header {
  background-image: url('https://adambates-public.s3.ca-central-1.amazonaws.com/background.jpeg');
  background-size: cover;
  background-blend-mode: darken;
}

.summary-container {
  background-color: rgba(230, 230, 230, .875);
}

.summary-img {
  width: 250px;
}
