<header class="py-5 bg-image-full summary-header">
  <div class="container my-5 p-4 rounded summary-container">
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <img class="rounded-circle img-fluid d-block ml-4 mb-4 mt-2 summary-img" src="https://avatars1.githubusercontent.com/u/22085065" alt="profile picture">
        <address class="container">
          <div class="row my-1 mx-auto">
            <div class="col">
              <h2 class="h4">Software Engineer</h2>
              <h3 class="h6 text-muted">Ontario, Canada</h3>
              <a href="tel:+17052415332"><h4 class="h6 text-dark py-1"><i class="fas fa-phone text-dark"></i> +1 (705) 241-5332</h4></a>
              <a href="mailto:adam@adambates.ca"><h4 class="h6 text-dark py-1"><i class="far fa-envelope text-dark"></i> adam@adambates.ca</h4></a>
            </div>
          </div>
        </address>
      </div>
      <div class="col-sm-8">
        <h1 class="modal-title">Adam Bates</h1>
        <p class="description">
          Solving complex problems with simple solutions, I bring a passion for building amazing software with amazing people.
        </p>
        <p class="description">
          I continue my career everyday by working with a high-performing versatile team to plan, design, implement, test, and maintain secure, distributed enterprise platforms. I work hard to beat deadlines; exceeding expectations by constantly pushing the boundaries of what is acceptable, and what is possible.
        </p>
        <p class="description">
          The software industry is important to me as it demands a constant learning environment, and rewards growth in both hard and soft skills. My long-term goals as a professional include engineering enterprise solutions in a position that fosters teamwork and leadership, with an amazing team of people who are passionate about delivering amazing software.
        </p>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link text-brown" href="https://adambates-public.s3.ca-central-1.amazonaws.com/CV.pdf" target="_blank">
              <i class="fas fa-file-alt"></i> CV
            </a>
          </li>
          <li class="nav-item">
            <div class="nav-link text-brown">|</div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-brown" href="https://www.linkedin.com/in/connect-adambates" target="_blank">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-brown" href="https://www.github.com/adam-bates" target="_blank">
              <i class="fab fa-github"></i> Github
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-brown" href="https://stackexchange.com/users/6176400/adam-bates?tab=accounts" target="_blank">
              <i class="fab fa-stack-exchange"></i> Stack Exchange
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
