<header class="py-5 bg-image-full summary-header">
  <div class="container my-5 p-4 rounded summary-container">
    <div class="row">
      <div class="col-xl-4 portfolio-item">
        <img class="rounded-circle img-fluid d-block mx-auto summary-img" src="https://avatars2.githubusercontent.com/u/22085065?s=400&u=e7296dbec9209b4a0ca2960552d96c554a557203&v=4" alt="">
        <address class="container">
          <div class="row my-1">
            <div class="col">
              <h2 class="h4">Software Developer</h2>
              <h3 class="h6 text-muted">Ontario, Canada</h3>
              <a href="tel:+17052415332"><h4 class="h6 text-dark py-1"><i class="fas fa-phone text-dark"></i> +1 (705) 241-5332</h4></a>
              <a href="mailto:adam@adambates.ca"><h4 class="h6 text-dark py-1"><i class="far fa-envelope text-dark"></i> adam@adambates.ca</h4></a>
            </div>
          </div>
        </address>
      </div>
      <div class="col-xl-8">
        <h1 class="modal-title">Adam Bates</h1>
        <p class="description">As a young, hard-working professional in software solutions, Adam is always in the pursuit of improvement both inside and outside of the workplace.</p>
        <p class="description">Adam is continuing his career everyday by working with a high-performing versatile team to plan, design, implement, test, and maintain secure, distributed enterprise platforms aimed towards revolutionizing the buying and selling of online traffic. He works hard to beat deadlines, exceeding expectations by constantly pushing the boundaries of what is acceptable, and what is possible.</p>
        <p class="description">The software industry is an important one for Adam, as it demands a constant learning environment, and rewards growth in both hard, and soft skills. His long-term goals as a professional include engineering enterprise solutions while maintaining a position that fosters teamwork and leadership across a positive and diverse community of people who are passionate about delivering amazing software.</p>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link text-brown" href="https://www.linkedin.com/in/connect-adambates/" target="_blank">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-brown" href="https://www.github.com/adambluefin/" target="_blank">
              <i class="fab fa-github"></i> Github (Work)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-brown" href="https://www.github.com/adam-bates/" target="_blank">
              <i class="fab fa-github"></i> Github (Personal)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
