<header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/900106/pexels-photo-900106.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); background-size: cover; background-blend-mode: darken">
  <div class="container my-5 p-4 rounded" style="background-color: rgba(230, 230, 230, .8)">
    <div class="row">
      <div class="col-xl-4 portfolio-item">
        <img class="rounded-circle img-fluid d-block mx-auto" style="width: 250px" src="https://avatars2.githubusercontent.com/u/22085065?s=400&u=e7296dbec9209b4a0ca2960552d96c554a557203&v=4" alt="">
        <address class="container">
          <div class="row my-1">
            <div class="col">
              <h2 class="h4">Software Developer</h2>
              <h3 class="h6 text-muted">Ontario, Canada</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="col text-dark" href="https://www.linkedin.com/in/connect-adambates/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                  </a>
                </li>
                <li class="nav-item">
                  <a class="col text-dark" href="https://www.github.com/adam-bates/" target="_blank">
                    <i class="fab fa-github"></i> Github (Personal)
                  </a>
                </li>
                <li class="nav-item">
                  <a class="col text-dark" href="https://www.github.com/adambluefin/" target="_blank">
                    <i class="fab fa-github"></i> Github (Work)
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </address>
      </div>
      <div class="col-xl-8">
        <h1 class="modal-title">Adam Bates</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor magna neque, id dictum diam ullamcorper eu. Morbi ipsum diam, ullamcorper eu volutpat vitae, placerat ac orci. Sed sed tortor aliquam, tempor diam ut, consectetur est. In consectetur libero nec dui dictum, in vulputate lectus imperdiet. Aliquam at lorem non est suscipit maximus. Nam id efficitur purus, vitae aliquam urna. Curabitur ornare gravida tellus, at ultricies neque rhoncus nec. Cras mauris nisi, efficitur in lorem eu, accumsan laoreet purus. Maecenas leo ante, condimentum interdum accumsan scelerisque, cursus vitae felis. Proin lobortis risus sed lacinia fermentum. Sed rutrum diam vitae finibus iaculis. Phasellus a fermentum mi. In pulvinar ligula sed pretium dapibus. </p>
      </div>
    </div>
  </div>
</header>
