<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top bg-light capabilities-img" src="../../../assets/brackets.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">Scalability</h4>
    <p class="card-text">
      <strong>Just because the software works perfectly with 10 customers, doesn't mean it'll go smoothly with 1 million customers.</strong> Having prepared for Christmas peaks, descaled for cost-savings, and worked on code that serves over 12.5 million daily users, scalability is always a consideration.
    </p>
  </div>
</div>
