<div class="card h-100">
  <div class="bg-light"><img height="175" style="margin-top: 25px; padding-bottom: 25px" class="card-img-top bg-light" src="../../../assets/brackets.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">Scalability</h4>
    <p class="card-text">
      Methods of scaling an application differ per specific business needs and changes. Adam is always working towards mastering his foresight in this area, <strong>developing solutions with the ability to change - without trying to predict changes</strong> before they come.
    </p>
  </div>
</div>
