<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top experience-img" src="../../../assets/server.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">Enterprise Platforms</h4>
    <p class="card-text">
      By utilizing industry standards such as <strong>ISO standards</strong>, <strong>software design principles and patterns</strong>, and <strong>architectural patterns and styles</strong>, I ensure the <strong>high-quality</strong> and <strong>timely development</strong> of useful software that <strong>meets the business needs</strong>.
    </p>
  </div>
</div>
