<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top bg-light capabilities-img" src="../../../assets/shield.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">Security</h4>
    <p class="card-text">
      As the crux of most web applications, security is something that I take very seriously. I always take steps to have my code well reviewed when working near an application's boundary; ensuring <strong>up-to-date standard practices</strong> are being used, <strong>protecting as many points of vulnerability as possible</strong>.
    </p>
  </div>
</div>
