<div class="card h-100">
  <div class="bg-light"><img height="175" class="card-img-top bg-light capabilities-img" src="../../../assets/shield.svg" alt=""></div>
  <div class="card-body">
    <h4 class="card-title text-brown">Security</h4>
    <p class="card-text">
      <strong>The crux of many applications, security is an ever-evolving measure that can often be a legal matter.</strong> Ensuring best practices for encryption, authentication, authorization, logging, and storage of sensitive data is always a critical piece to any application.
    </p>
  </div>
</div>
