/* You can add global styles to this file, and also import other style files */

main {
  padding-top: 2%;
}
.text-brown {
  color: #4f372c;
}
a.text-brown:active {
  color: black;
}

img.experience-img {
  margin-top: 25px;
  padding-bottom: 25px;
}

img.capabilities-img {
  margin-top: 25px;
  padding-bottom: 25px;
}
